@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}
.content-wrapper {
  overflow-x: visible !important;
}

/* Swiper Pagination Dotlarını Özelleştir */
.swiper-pagination-bullet {
  width: 150px !important;
  height: 5px !important;
  border-radius: 10px !important;
  color: white !important;
  border: 2px;
}

.swiper-pagination-bullet-active {
  background-color: #3a0ca3 !important;
}
